<!DOCTYPE html>
<html id="html" lang="en" onload="setTheme()">
<head>
    <module href="/components/head.html"></module>
    <title>Static Site</title>
</head>
<body>
    <module href="/components/theme-switch.html"></module>
    <div class="section sectionHead">
        <h1>ahoy planet</h1>
    </div>
    <div class="section sectionMain">
        <module href="/components/main-content.html"></module>
    </div>
    <div class="section sectionFoot">
        <module href="/components/foot.html"></module>
    </div>
    <script src="./bundle.js"></script>
</body>
</html>