$primaryDark: #111;
$secondaryDark: #333;
$tertiaryDark: #666;
$primaryLight: #eee;
$secondaryLight: #ccc;
$tertiaryLight: #999;
$orange: #e93;
$blue: #39e;

$gradientDark: linear-gradient(23deg, #111, #333);
$gradientLight: linear-gradient(23deg, #ccc, #eee);