@import "reset.scss";
@import "color.scss";
@import "font.scss";
@import "theme-switch.scss";

body {
    font-family: $fontStackSans;
    transition: 300ms linear;
}

a {
    color: inherit;
}

.light {
    color: $primaryDark;
    background: $gradientLight;
    a:hover,
    a:focus {
        color: $tertiaryDark;
    }
    .footer {
        color: $secondaryDark;
    }
}

.dark {
    color: $primaryLight;
    background: $gradientDark;
    a:hover,
    a:focus {
        color: $tertiaryLight;
    }
    .footer {
        color: $secondaryLight;
    }
}

.header {
    text-transform: uppercase;
}

.footer {
    margin-top: 3rem;
    border-top: 1px solid;
    border-right: 1px solid;
    font-size: 0.75rem;
    a {
        color: inherit;
    }
}